:root
{
    --cabecera: #083b57;
    --fondo: #56BAF0;
    --nav: #1392D6;
    --grisOscuro: #3a5462;
    --quintoColor: #0F6FA3;
}
body
{
    margin: 0;
}
main
{
    min-height: 100vh;
    max-width: 100vw;
}
header
{
    min-height: 15vh;
    background-color: var(--cabecera);
}
nav
{
    min-height: 5vh;
    min-width: 20vw;
    background-color: var(--nav);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

article
{
    min-height: 65vh;
    min-width: 80vw;
    background-color: var(--fondo);
}
footer
{
    min-height: 15vh;
    background-color: var(--cabecera);
}
footer > p
{
    margin: 0px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

nav ul
{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    padding: 0px;
}
nav li
{
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: "Segoe IU", sans-serif;
    transition: 0.4s;

}
ul  a
{
    text-decoration: none;
}
.orden
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.orden img
{
    min-height: 20vh;
    max-width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotipo
{
    height: 15vh;
    width: 10vw;
    padding: 2px 2px 0px;
 
}

form
{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #0F6FA3;*/
    
}
.formulario
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    font-family:consolas;
    font-weight: bold;
    
}
.estiloform
{
    /*border: 2px solid rgb(12, 18, 54);
    border-radius: 2px;*/
    padding: 10px;
    margin: 5px;
}
button
{
    padding: 7px;
    border: 0.5px solid var(--cabecera);
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgb(0, 0, 0);
    background-color: #ccedff;
    font-family: comic Sans MS;
    font-size: 14px;
    transition: 0.5s;


}
fieldset
{
    background-color: rgb(238, 243, 255);
    margin: 20px;
    border: 2px solid var(--grisOscuro);
    border-radius: 3px;
    transition: 0.7s;
}
fieldset > h3
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

fieldset > label, input
{
    margin: 10px;
}

.destinosTOP
{
    border: 1px solid var(--grisOscuro);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    min-height: 30vh;
    transition: 0.5s;
}
.destinosTOP > p
{
    font-family: Arial, Helvetica, sans-serif;
}
.destinosTOP > img
{
    height: 30vh;
    min-width: 20vw;
    padding: 10px;
}
.tituloDestinosTOP
{
    display: flex;
    justify-content: center;
    
}
.tituloDestinosTOP h3
{
    font-family: Lucida console;
    color: rgb(0, 0, 0);
    border: 1px solid var(--grisOscuro);
    border-radius: 15px;
    padding: 15px;
    background-color: white;
    transition: 1s;
}
select
{
   padding: 5px;
   font-family: bahnschrift;
   font-weight: bold;
   font-size: 14px;
   background-color: var(--grisOscuro);
   color: white;
   border: 1px solid var(--cabecera);
   border-radius: 3px;
   box-shadow: 1px 0px 1px rgb(0, 0, 0);
}








fieldset:hover
{
    border: 2px solid var(--cabecera);
    transition: 0.7s;
}

nav li:hover
{
    background-color: rgb(22, 19, 63);
    color: rgb(235, 166, 18);
    transition: 0.4s;
}
button:hover
{
    background-color: var(--cabecera);
    color: white;
    transition: 0.5s;
}
.destinosTOP:hover
{
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}
.tituloDestinosTOP h3:hover
{
    border-radius:45%;
    -webkit-border-radius:45%;
    box-shadow: 0px 0px 15px 15px var(--quintoColor);
    -webkit-box-shadow: 0px 0px 15px 15px var(--quintoColor);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    background-color: rgb(22, 19, 63);
    color: rgb(235, 166, 18);
    transition: 1s;
}
